-provide(:title,'About')
%h1 About Us 
%p 
  The Ruby on Rails
  %a{href: "#"} Tutorial
  is a project about how to make a book and screencasts to teach web development
  with 
  %a{href: "#"} Ruby on Rails
  This is the sample application for the tutorial.
