-provide(:title,'Help')
%h1 Help
%p 
  Get help on the Ruby on Rails Tutorial at the
  %a{href: "#"}>Rails Tutorial help page
  %br
  To get help on this sample app, see the
  %a{href: '#'} Rails tutorial book