%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
    %logo
      =link_to "Sample App", '/', id: 'logo'
    %nav
      .ul.nav.pull-right
        %li= link_to "Home", "/"
        %li= link_to "Help", "help"
        %li= link_to "Signin", "sigin"